<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862234684527-jaiq09po2spq2gtie1b86i727tve8iji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862234684527-jaiq09po2spq2gtie1b86i727tve8iji</string>
	<key>API_KEY</key>
	<string>AIzaSyBy-TxjWGiGIVaosghoZlSFB91RR5YyMsY</string>
	<key>GCM_SENDER_ID</key>
	<string>862234684527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perception.www.Perception</string>
	<key>PROJECT_ID</key>
	<string>perception-65062</string>
	<key>STORAGE_BUCKET</key>
	<string>perception-65062.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862234684527:ios:95a466f3b958e714</string>
	<key>DATABASE_URL</key>
	<string>https://perception-65062.firebaseio.com</string>
</dict>
</plist>